/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&display=swap');
/*===== VARIABLES CSS =====*/
:root{
    --header-height: 4.5rem;
    --font-medium: 500;
}
/*===== Colors =====*/
:root{
    --accent-color: #5db2b8;
    --white-color: #fafaff;
    --light-color: rgb(248, 247, 237);
    --dark-color: rgb(47, 62, 73);
    --text-color: rgb(94, 104, 107);
}
/*===== Font and typo =====*/
:root{
    --body-font: 'Montserrat', sans-serif;
    --title-font: 'Playfair Display', serif;
    --big-font-size: 56px;
    --h2-font-size: 39px;
    --normal-font-size: 14.5px;
    --small-font-size: 14.5px;
}

/*===== Margins =====*/
:root{
    --mb-4: 10vw;
}
/*===== z index =====*/
:root{
    --z-fixed: 100;
}
/*===== BASE =====*/
*,::before,::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0 0 0 0;
    font-family: var(--body-font);
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    line-height: 1.6;
    background-color: var(--light-color);
    padding-left: var(--mb-4);
    padding-right: var(--mb-4);
}
h1,h2,p{
    margin: 0;
}
h1 {
    font-family: var(--title-font);
    font-size: var(--big-font-size);
    font-weight: 100;
    line-height: 1.2;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}

/* ===== CLASS CSS ===== */
.section{
    width: 100%;
    min-height: 100vh;
}

/*===== LAYOUT =====*/
.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--dark-color);
}

/*===== NAV =====*/
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--mb-4) ;
    padding-right: 150px;
    background: rgba(248, 247, 237);
}

.nav__list{
    display: flex;
}

.nav__cancel {
    display: none;
    position: absolute;
    top: 32px;
    right: 32px;
    cursor: pointer;
}

.nav__link{
    position: relative;
    color: var(--dark-color);
}

.nav__item {
    margin-left: 30px;

}
/* .nav__link:hover{
    color: var(--first-color);
    border-bottom: 2px solid grey;
} */

.nav__link::after,
.nav__logo::after,
.social__link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: lightgreen;
    transition: width .3s;

}
.nav__link:hover::after,
.nav__logo:hover::after,
.social__link:hover::after {
    width: 100%;
}


.burger {
    position: relative;
    cursor: pointer;
    display: none;
}

.burger__checkbox {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-touch-callout: none;
    cursor: pointer;
}

.click-catcher {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
}
.line {
    width: 20px;
    height: 2px;
    margin: 5px;
    background-color: var(--dark-color);
}
.nav__cancel {
    width: 20px;
}

/*===== HOME =====*/
.home{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.home__container {
    padding-top: 45px;
}
.top {
    height: 1.5px;
}

.home__img {
    height: 330px;
}

.flash {
    width: 15px;
}

.home__scroll {
    width: 100%;
    padding-bottom: 30px;
}

/*===== ABOUT =====*/
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.top-part  {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    margin-right: auto;
    padding-top: 95px;
    flex-wrap: wrap;
}

.about__title {
    padding-bottom: 33px;
}
.about__text {
    margin-right: auto;
    max-width: 710px;
    padding-bottom: 25px;
    padding-right: 45px;
}
.about__text2 {
    max-width: 850px;
    padding-right: auto;
}

.about__img,
.img__container {
    max-width: 400px;
    z-index: 2;
}

.about__ills {
    width: 180px;
}
#lemon1 {
    padding-top: 120px;
}
#lemon2 {
    padding-top: 400px;
}

/*===== SKILLS =====*/

.skills__box,
.contact__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.skills__container {
    max-width: 100%;
    display: flex;
}
.skill__col1,
.skill__col2,
.skill__col3, 
.col1, .col2, .col3 {
 width: 33%;
}

.skills__subtitle,
.skills__name,
.element__subtitle, 
h3 {
    margin: 0;
    font-size: 15px;
}
.skills__subtitle,
.skills__title,
.element__subtitle {
padding-bottom: 18px;
}


.about2__container {
display: flex;
flex-wrap: wrap;
flex-direction: row;
padding-top: 100px;
margin-left: 0;
margin-right: auto;
}

.img__container {
    margin-right: 18px;
    padding-right: 0px;
    margin-bottom: 20px;
}

.italic {
    font-style: italic;
}
.contact__box {
    padding-top: 10px;
}
.about2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 30px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}
.portfolio,
.work {
    position: relative;
    margin-top: 120px;
    justify-items: center;
    display: flex;
    max-width: 2100px;
}

.portfolio__img {
    position: relative;
    overflow: hidden;
    margin: 13px 13px 13px 0px;
}

.portfolio__link{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(248, 247, 237,0);
    /* backdrop-filter: blur(1px); */
}
.portfolio__img:hover .portfolio__link{
    bottom: 0;
    background-color: rgba(248, 247, 237,0.8);
    transition: .4s;
}
.portfolio__link-name {
    color: var(--dark-color);
}
.portfolio__link-name:hover {
    text-decoration: underline;
}
.contact__box {
    width: 70%;
}

.work {
    padding: 150px 270px 0 270px ;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.work__text {
    padding-bottom: 120px;
    text-align: center;
}

.title__text {
    padding-bottom: 30px;
    text-align: center;
}

.work__pic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work__img {
    padding-bottom: 60px;
    max-width: 900px;
}

.l-main section {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.title__text {
    text-align: center;
    font-weight: 800;
}

.work__gif {
    width: 30px;
    margin: auto;
    padding-bottom: 10px;
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (max-width: 1380px){
#lemon2 {
    display: none;
}
}
@media screen and (max-width: 768px){
    .nav  {
        padding-left: 8px;
        padding-right: 8px;
    }
    .nav__cancel {
        display: block;
    }
    .nav__list {
        position: fixed;
        top: 0;
        right: 0;
        width: 70vw;
        height: 100vh;
        padding: 30px;
        background-color: var(--text-color);
        color: grey;
        flex-direction: column;
        transform: translateX(100%);
    }

    .nav__list.mobile-show {
        display: block;
        transform: translateX(0%);
        transition: transform 225ms ease-in;
    }

    .click-catcher.mobile-show {
        display: block;
        backdrop-filter: blur(0.5px);
        background: rgba(255,255,255, 0.3);
    }

    .burger {
        display: inline-block;
    }

    .nav__link{
        color: white;
    }

    body {
        padding-left: 8px;
        padding-right: 8px;
    }

    .about__text {
        padding-left: 0px;
        padding-right:0px;
    }

    .about__ills {
        display: none;
    }

    .skills__box, .contact__box {
        flex-wrap: wrap;
        width: 100%;
    }

    .socials,
    .contact__info,
    .footer {
        width: 100%;
        text-align: center;
        margin-top: 32px;
    }

    .footer{
       flex-direction: column;
    }
    .footer__container {
        display: block;
    }

    .home__scroll-link {
        display: none;
    }
    .about2__container {
        padding-top: 10px;
    }
    .skills__subtitle, .skills__name, .element__subtitle, h3 {
        padding-right: 12px;
    }
    .work__img {
        width: 92vw;
        margin: 0;
    }
    #work {
        padding-left: 0;
        padding-right: 0;
    }
}