/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&display=swap');
/*===== VARIABLES CSS =====*/
:root{
    --header-height: 4.5rem;
    --font-medium: 500;
}
/*===== Colors =====*/
:root{
    --accent-color: #5db2b8;
    --white-color: #fafaff;
    --light-color: rgb(248, 247, 237);
    --dark-color: #2a3b47;
    --text-color: rgb(105, 116, 119);
}
/*===== Font and typo =====*/
:root{
    --body-font: 'Montserrat', sans-serif;
    --title-font: 'Playfair Display', serif;
    --big-font-size: 60px;
    --h2-font-size: 45px;
    --normal-font-size: 22px;
    --small-font-size: 18px;
}
@media screen and (min-width: 768px){
    :root{
        --big-font-size: 63px;
        --medium-font-size: 45px;
        --normal-font-size: 22px;
        --small-font-size: 18px;
    }
}
/*===== Margins =====*/
:root{
    --mb-4: 225px;
}
/*===== z index =====*/
:root{
    --z-fixed: 100;
}
/*===== BASE =====*/
*,::before,::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0 0 0 0;
    font-family: var(--body-font);
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    line-height: 1.6;
    background-color: var(--light-color);
    padding-left: var(--mb-4);
    padding-right: var(--mb-4);
}
h1,h2,p{
    margin: 0;
}
h1 {
    font-family: var(--title-font);
    font-size: var(--big-font-size);
    font-weight: 100;
    line-height: 1.2;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}

/* ===== CLASS CSS ===== */
.section{
    width: 100%;
    min-height: 100vh;
}

/*===== LAYOUT =====*/

.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color);
}

/*===== NAV =====*/
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--mb-4) ;
    padding-right: 150px;
    background: rgba(248, 247, 237);
}

.nav__list{
    display: flex;
}


@media screen and (max-width: 768px){
    .nav__menu{
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: rgba(255,255,255,.3);
        transition: .5s;
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: row;
    }
}

.nav__link{
    position: relative;
    color: var(--dark-color);
    margin-left: 30px;
}
.nav__link:hover{
    color: var(--first-color);
    border-bottom: 2px solid grey;
}

/*===== HOME =====*/
.home{
    position: relative;
    background-color: var(--first-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.home__container {
    padding-top: 45px;
}
.top {
    height: 1.5px;
}

.home__img {
    height: 330px;
}

.flash {
    width: 15px;
}

.home__scroll {
    width: 100%;
    padding-bottom: 30px;
}

/*===== ABOUT =====*/
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.top-part  {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    margin-right: auto;
    padding-top: 100px;
}

.about__title {
    padding-bottom: 45px;
}
.about__text {
    margin-right: auto;
    max-width: 900px;
    padding-bottom: 45px;
    padding-right: 75px;
}
.about__text2 {
    max-width: 900px;
    padding-right: auto;
}

.about__img,
.img__container {
    max-width: 550px;
    z-index: 2;
}

.about__ills {
    width: 225px;
}
#lemon1 {
    padding-top: 150px;
}
#lemon2 {
    padding-top: 450px;
}

/*===== SKILLS =====*/

.skills__box,
.contact__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.skills__container {
    max-width: 100%;
    display: flex;
}
.skill__col1,
.skill__col2,
.skill__col3, 
.col1, .col2, .col3 {
 width: 33%;
}

.skills__subtitle,
.skills__name,
.element__subtitle, 
h5 {
    margin: 0;
    font-size: 16px;
}
.skills__subtitle,
.skills__title,
.element__subtitle {
padding-bottom: 24px;
}


.about2__container {
display: flex;
flex-direction: row;
padding-top: 100px;
display: flex;
margin-left: 0;
margin-right: auto;
}

.img__container {
    padding-right: 45px;
    margin-right: auto;
}

.italic {
    font-style: italic;
}

.about2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 30px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}
.portfolio,
.work {
    position: relative;
    margin-top: 120px;
    justify-items: center;
    display: flex;
    max-width: 2100px;
}

.portfolio__img {
    position: relative;
    overflow: hidden;
    margin: 13px 13px 13px 0px;
}

.portfolio__link{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(248, 247, 237,0);
    cursor: pointer;
    /* backdrop-filter: blur(1px); */
}
.portfolio__img:hover .portfolio__link{
    bottom: 0;
    background-color: rgba(248, 247, 237,0.8);
    transition: .4s;
}
.portfolio__link-name{
    color: var(--dark-color);
}
.contact__box {
    width: 70%;
}

.work {
    padding: 150px 270px 0 270px ;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.work__text,
.title__text {
    padding-bottom: 120px;
    text-align: center;
}

.work__pic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work__img {
    padding-bottom: 60px;
    max-width: 900px;
}

.l-main section {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.title__text {
    text-align: center;
    font-weight: 800;
}